.monitoring_table {
    flex-direction: column;
    background-color: #fff;
    margin: 14px 0 0;
}
.table_row, .table_header {
    display: grid;
}
.table_header_cell, .table_row_cell {
    left: 0px;
    top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.table_header_cell {
    flex-direction: column;
}
